/* GENERAL STYLING */
.hidden {
    display: none;
}
.logo {
    height: 300px;
}
.portrait {
    height: 150px;
}
/* INDEX START */

/* INDEX END */

/* FEATURED START */

/* FEATURED END */


/* PORTFOLIO START */

/* PORTFOLIO END */

/* ABOUT PAGE START*/
.aboutBanner {
    height: 300px;
}
.teamInfo {
    display: flex;
    flex-direction: row;
}
.dataDisplay {
    width: 500px;
    margin: auto;

}
.staffMember {
    margin: 15px;
}
/* ABOUT PAGE END */